@{
    ViewBag.Title = "ImeBekleyen";
}

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h4>IME ONAY BEKLEYEN BAŞVURULAR</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example2">
                                <thead>
                                    <tr>
                                        <th>Öğr. No</th>
                                        <th>Ad</th>
                                        <th>Soyad</th>
                                        <th>Başvuru Dönemi</th>
                                        <th>Staj Başlangıç Tarihi</th>
                                        <th>Staj Bitiş Tarihi</th>
                                        <th>İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.OgrNo</td>
                                            <td>@item.Ad</td>
                                            <td>@item.Soyad</td>
                                            <td>@item.Donem</td>
                                            <td>@item.Baslangic</td>
                                            <td>@item.Bitis</td>
                                            <td class="text-center">
                                                <!-- Onayla butonunu içeren form -->
                                                <form action="@Url.Action("ImeBekleyen", "Admin")" method="post">
                                                    <input type="hidden" name="OgrNo3" value="@item.OgrNo" />
                                                    <input type="hidden" name="Ad3" value="@item.Ad" />
                                                    <input type="hidden" name="Soyad3" value="@item.Soyad" />
                                                    <input type="hidden" name="Donem3" value="@item.Donem" />
                                                    <input type="hidden" name="Program3" value="IME" />
                                                    <input type="hidden" name="Belge3" value="@item.Belge" />
                                                    <input type="hidden" name="Baslangic3" value="@item.Baslangic" />
                                                    <input type="hidden" name="Bitis3" value="@item.Bitis" />
                                                    <button class="btn btn-success" type="submit">
                                                        <i class="fa fa-check"></i> Onayla
                                                    </button>
                                                </form>
                                                <button class="btn btn-danger" data-toggle="modal"
                                                        data-target="#reddetModal3">
                                                    <i class="fa fa-times"></i> Reddet
                                                </button>
                                                <form action="@Url.Action("ImeRed", "Admin")" method="post">
                                                    <div class="modal fade" id="reddetModal3" tabindex="-1" role="dialog" aria-labelledby="reddetModalLabel3" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                    <h4 class="modal-title" id="reddetModalLabel3">Başvuruyu Reddet</h4>
                                                                </div>

                                                                <div class="modal-body">
                                                                    <input type="hidden" name="OgrNo3" value="@item.OgrNo" />
                                                                    <input type="hidden" name="Ad3" value="@item.Ad" />
                                                                    <input type="hidden" name="Soyad3" value="@item.Soyad" />
                                                                    <input type="hidden" name="Donem3" value="@item.Donem" />
                                                                    <input type="hidden" name="Program3" value="IME" />
                                                                    <input type="hidden" name="Belge3" value="@item.Belge" />
                                                                    <input type="hidden" name="Baslangic3" value="@item.Baslangic" />
                                                                    <input type="hidden" name="Bitis3" value="@item.Bitis" />
                                                                    <div class="form-group">
                                                                        <label for="redNedeni3">Reddetme Nedeni:</label>
                                                                        <textarea class="form-control" name="RedNedeni3" id="redNedeni3" rows="3" style="width: 100%; height: 100px; resize: none;" required></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                                                    <button type="submit" class="btn btn-danger">Gönder</button>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <a href="@item.Belge" class="btn btn-primary" target="_blank">
                                                    <i class="fa fa-download"></i> İndir
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
