@using Online_staj_otomasyonu.Models
@model List<ImeOnayModel>

@{
    ViewBag.Title = "ImeOnay";
}

<!-- STAJ 1 ONAY -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h4>IME ONAYLANAN BAŞVURULAR</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Öğr. No</th>
                                        <th>Ad</th>
                                        <th>Soyad</th>
                                        <th>Başvuru Dönemi</th>
                                        <th>Staj Programı</th>
                                        <th>Durum</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var stajOnay in Model)
                                    {
                                        <tr>
                                            <td>@stajOnay.OgrenciNo</td>
                                            <td>@stajOnay.OgrenciAd</td>
                                            <td>@stajOnay.OgrenciSoyad</td>
                                            <td>@stajOnay.StajDonem</td>
                                            <td>@stajOnay.StajProgram</td>
                                            <td>Onaylandı</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
